<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona z obrazem</title>
    <link rel="stylesheet" href="css\styles.css">

</head>
<body>
<header>
    <div class="menu-bar">
        <a id="option1"  class="menu-item">Legowiska</a>
        <a id="option2"  class="menu-item">Stół paszowy i poidła</a>
        <a id="option3"  class="menu-item">Wygrodzenia i bramki</a>
        <a id="option4"  class="menu-item">Zagospodarowanie gnojowicy</a>
        <a id="option5"  class="menu-item">Dobrostan w oborze</a>
        <a id="option6"  class="menu-item">Podsumowanie</a>
    </div>

    <div class="menu-legowiska menumenu hidden">
        <a id="wygrodzenia2Doptima"  class="menu-item picked-menu-item">Wygrodzenia 2D-OPTIMA</a>
        <a id="materaceLegowiskowe"  class="menu-item picked-menu-item">Materace Legowiskowe</a>
    </div>

    <div class="menuStolPaszowyIpoidla menumenu hidden">
    <a id="stolPaszowyRuraKarkowa"  class="menu-item picked-menu-item">Stół paszowy - rura karkowa</a>
    <a id="stolPaszowySwistLock"  class="menu-item picked-menu-item">Stół paszowy - Twist & Lock</a>
    <a id="stolPaszowyDrabinaDiagonalna"  class="menu-item picked-menu-item">Stół paszowy - Drabina diagonalna</a>
    <a id="poidla"  class="menu-item picked-menu-item">Poidła</a>
    </div>

    <div class="menuWygrodzeniaIbramki menumenu hidden">
        <a id="bramki3rurowe"  class="menu-item picked-menu-item">Bramki 3 rurowe</a>
        <a id="bramki2rurowe"  class="menu-item picked-menu-item">Bramki 2 rurowe</a>
        <a id="bramkiOneWay"  class="menu-item picked-menu-item">Bramki one way</a>
        <a id="wygrodzeniaRuroweStale"  class="menu-item picked-menu-item">Wygrodzenia rurowe - stałe</a>
    </div>

</header>
<div class="content">
    <form class="hidden myform" id="wygrodzenia2DoptimaForm" th:action="@{/submitWygrodzenia2Doptima}" th:object="${wygrodzenia2Doptima}" method="post">
        <h1>Wygrodzenia 2D-OPTIMA</h1>

        <label for="typpalaka">Typ pałąka:</label><br>
        <select id="typpalaka" name="typpalaka" th:field="*{typ_palaka}">
            <option value="option1">Pałąk wygrodzeniowy  G Comfort 200cm</option>
            <option value="option2">Pałąk wygrodzeniowy  L Comfort 200cm</option>
            <option value="option3">Pałąk wygrodzeniowy 2D-Optima 200 - 200cm</option>
        </select><br>

        <label for="numBeds">Liczba legowisk:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{liczba_legowisk}" required><br>

        <label for="numRows">Ilość rzędów:</label><br>
        <input type="number" id="numRows" name="numRows" th:field="*{ilość_rzędów}" required><br>

        <label for="width">Szerokość legowiska [CM]:</label><br>
        <input type="number" id="width" name="width" th:field="*{szerokość_legowiska}" required><br>

        <label for="width">Szerokość skrajnego legowiska [CM]:</label><br>
        <input type="number" id="width" name="width" th:field="*{szerokość_skrajnego_legowiska}" required><br>

        <label for="neckPipe">Rodzaj rury karkowej:</label><br>
        <select id="neckPipe" name="neckPipe" th:field="*{rodzaj_rury_karkowej}">
            <option value="option1">Prosta rura karkowa - bez pasa, bez rury DN160</option>
            <option value="option2">Prosta rura karkowa - bez pasa, z rurą DN160</option>
            <option value="option3">Prosta rura karkowa - z pasem, bez rury DN160</option>
            <option value="option4">Prosta rura karkowa - z pasem, z rurą DN160</option>
            <option value="option5">Falista rura karkowa - z rurą PVC DN160</option>
        </select><br>

        <label for="oddRows">Ilość rzędów z nieparzystą liczbą legowisk:</label><br>
        <input type="number" id="oddRows" name="oddRows" th:field="*{ilość_rzędów_z_nieparzystą_liczbą_legowisk}" required><br>

        <input type="submit" value="Dodaj do podsumowania">
    </form>
    <form class="hidden myform" id="materaceForm" th:action="@{/submitMateraceLegowiskowe}" th:object="${materaceLegowiskowe}" method="post">
        <h1>Materace Legowiskowe</h1>

        <label for="rodzajMateraca">Materac 1:</label><br>
        <select id="rodzajMateraca" name="rodzajMateraca" th:field="*{rodzajMateraca}">
            <option value="option1">Durasoft</option>
            <option value="option2">Akwatopsoft 120cm</option>
            <option value="option3">Elista</option>
            <option value="option4">Louisiana</option>
            <option value="option5">Gummystuds G20 190cm</option>
            <option value="option6">Gummystuds G33 190cm</option>
        </select><br>

        <label for="numBeds">Ilosc MB:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscMB}" required><br>

        <label for="type">Materac 2:</label><br>
        <select id="type" name="type" th:field="*{rodzajMateraca2}">
            <option value="option1">Durasoft</option>
            <option value="option2">Akwatopsoft 120cm</option>
            <option value="option3">Elista</option>
            <option value="option4">Louisiana</option>
            <option value="option5">Gummystuds G20 190cm</option>
            <option value="option6">Gummystuds G33 190cm</option>
        </select><br>

        <label for="numBeds">Ilosc MB:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscMB2}" required><br>

        <input type="submit" value="Dodaj do podsumowania">
    </form>

    <form class="hidden myform" id="stolPaszowyRuraKarkowaForm" th:action="@{/submitStolPaszowyRuraKarkowa}" th:object="${stolPaszowyRuraKarkowa}" method="post">
        <h1>Stół paszowy - rura karkowa</h1>

        <label for="numBeds">Długość obory [M]:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{dlugoscObory}" required><br>

        <label for="numBeds">Ilość murków paszowych:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscMurkowPaszowych}" required><br>

        <label for="type">Słupy konstrukcyjne w stole:</label><br>
        <select id="type" name="type" th:field="*{slupyKonstrukcyjneWstole}" >
            <option value="option1">nie</option>
            <option value="option2">tak</option>
        </select><br>

        <label for="numBeds">Ilość rzędów słupów konstrukcyjnych [M]:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{ilośćRzędówSłupowKonstrukcyjnych}" required><br>

        <label for="type">Słupki 2.5":</label><br>
        <select id="type" name="type" th:field="*{slupki2_5}">
            <option value="option1">nie</option>
            <option value="option2">tak</option>
        </select><br>

        <label for="numBeds">Rozstaw słupków 2,5":</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{rozstawSlupkow2_5}" required><br>

        <label for="numBeds">Ilość przejść bezpieczeństwa:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscPrzejscBezpieczenstwa}" required><br>

        <label for="type">Rodzaj dystansu:</label><br>
        <select id="type" name="type" th:field="*{rodzajDystansu}">
            <option value="option1">Stały dystans 18cm</option>
            <option value="option2">Dystans regulowany</option>
        </select><br>

        <input type="submit" value="Dodaj do podsumowania">
    </form>
    <form class="hidden myform" id="stolPaszowySwistLockForm" th:action="@{/submitStolPaszowySwistLock}" th:object="${stolPaszowySwistLock}"  method="post">
        <h1>Stół paszowy - Twist & Lock</h1>

        <label for="type">Rodzaj drabiny T&L:</label><br>
        <select id="type" name="type" th:field="*{rodzajDrabinyTL}">
            <option value="option1">Drabina samoblokująca T&L + pałąk zab. 140cm (2x70cm) + Śruby</option>
            <option value="option2">Drabina samoblokująca T&L + pałąk zab. 210cm (3x70cm) + Śruby</option>
            <option value="option3">Drabina samoblokująca T&L + pałąk zab. 280cm (4x70cm) + Śruby</option>
            <option value="option4">Drabina samoblokująca T&L + pałąk zab.350cm (5x70cm) + Śruby</option>
            <option value="option5">Drabina samoblokująca T&L + pałąk zab. 150cm (2x75cm) + Śruby</option>
            <option value="option6">Drabina samoblokująca T&L + pałąk zab. 225cm (3x75cm) + Śruby</option>
            <option value="option7">Drabina samoblokująca T&L + pałąk zab. 300cm (4x75cm) + Śruby</option>
            <option value="option8">Drabina samoblokująca T&L + pałąk zab. 375cm (5x75cm) + Śruby</option>
        </select><br>

        <label for="numBeds">Ilość:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscDrabinTL}" required><br>

        <label for="type">Rodzaj uchwytu montażowego:</label><br>
        <select id="type" name="type" th:field="*{rodzajUchwytuMontazowego}">
            <option value="option1">Zestaw montażowy - 0-4cm + obejmna na słupek 2,5"</option>
            <option value="option2">Zestaw montażowy - 5-9cm + obejmna na słupek 2,5"</option>
            <option value="option3">Zestaw montażowy - 10-14cm + obejmna na słupek 2,5"</option>
            <option value="option4">Zestaw montażowy - 15-19cm + obejmna na słupek 2,5"</option>
            <option value="option5">Zestaw montażowy - 20-25cm + obejmna na słupek 2,5"</option>
        </select><br>

        <label for="numBeds">Ilość:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscUchwytuMontazowego}" required><br>

        <label for="numBeds">Ilość słupków 2,5":</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscSlupkow2_5}" required><br>

        <label for="numBeds">Ilość przejść bezpieczeństwa:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscPrzejscBezpieczenstwa}" required><br>

        <label for="numBeds">Ilość zestawów końcowych:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscZestawKoncowych}" required><br>

        <label for="numBeds">Ilość zestawów bramowych:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscZestawowBramowych}" required><br>

        <label for="numBeds">Ilość dźwigni obługowych:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscDzwigniObslugowych}" required><br>

        <input type="submit" value="Dodaj do podsumowania">

    </form>
    <form class="hidden myform" id="stolPaszowyDrabinaDiagonalnaForm" th:action="@{/submitStolPaszowyDrabinaDiagonalna}" th:object="${stolPaszowyDrabinaDiagonalna}" method="post">
        <h1>Stół paszowy - Drabina diagonalna</h1>

        <label for="type">Rodzaj drabiny diagonalnej:</label><br>
        <select id="type" name="type" th:field="*{rodzajDrabinyDiagonalnej}">
            <option value="option1">Drabina diagonalna 135cm 2x67cm   >19mies. + Śruby</option>
            <option value="option2">Drabina diagonalna 250cm 5x50cm   >19mies. + Śruby</option>
            <option value="option3">Drabina diagonalna 325cm 7x46cm   >19mies. + Śruby</option>
        </select><br>

        <label for="numBeds">Ilość:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscDrabinDiagonalnych}" required><br>

        <label for="type">Rodzaj uchwytu montażowego:</label><br>
        <select id="type" name="type" th:field="*{rodzajUchwytuMontazowego}">
            <option value="option1">Zestaw montażowy - 0-4cm + obejmna na słupek 2,5"</option>
            <option value="option2">Zestaw montażowy - 5-9cm + obejmna na słupek 2,5"</option>
            <option value="option3">Zestaw montażowy - 10-14cm + obejmna na słupek 2,5"</option>
            <option value="option4">Zestaw montażowy - 15-19cm + obejmna na słupek 2,5"</option>
            <option value="option5">Zestaw montażowy - 20-25cm + obejmna na słupek 2,5"</option>
        </select><br>

        <label for="numBeds">Ilość:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscUchwytuMontazowego}" required><br>

        <label for="numBeds">Ilość słupków 2,5":</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscSlupkow2_5}" required><br>

        <label for="numBeds">Ilość przejść bezpieczeństwa:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscPrzejscBezpieczenstwa}" required><br>

        <label for="numBeds">Ilość zestawów końcowych:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscZestawKoncowych}" required><br>

        <label for="numBeds">Ilość zestawów bramowych:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscZestawowBramowych}" required><br>

        <input type="submit" value="Dodaj do podsumowania">

    </form>
    <form class="hidden myform" id="poidlaForm" th:action="@{/submitPoidla}" th:object="${poidla}" method="post">
        <h1>Poidła</h1>

        <label for="type">Rodzaj poideł:</label><br>
        <select id="type" name="type" th:field="*{rodzajPoidel}">
            <option value="option1">Watermaster 1200: 366x61x61cm</option>
            <option value="option2">Watermaster 600: 182x61x61cm</option>
            <option value="option3">Watermaster 90: 229x84x56cm</option>
            <option value="option3">Watermaster 54: 137x84x56cm</option>
            <option value="option3">Watermatic 300: 91x55x66cm</option>
            <option value="option3">Watermatic 150: 85x36x46cm</option>
            <option value="option3">Watermatic100: 61x36x46cm</option>

            <option value="option3">Poidło Easy Drink SSt. z korkiem 50cm 3/4" montaż na podłodze</option>
            <option value="option3">Poidło Easy Drink SSt. z korkiem 100cm 3/4" montaż na podłodze</option>
            <option value="option3">Poidło Easy Drink SSt. z korkiem 190cm 3/4" montaż na podłodze </option>
            <option value="option3">Poidło Easy Drink SSt. z korkiem 350cm 3/4" montaż na podłodze </option>
            <option value="option3">Poidło Easy Drink SSt. z korkiem 50cm 3/4" montaż na ścianie</option>
            <option value="option3">Poidło Easy Drink SSt. z korkiem 100cm 3/4" montaż na ścianie</option>
            <option value="option3">Poidło Easy Drink SSt. z korkiem 190cm  3/4" montaż na ścianie</option>
            <option value="option3">Poidło Easy Drink SSt. z korkiem 350cm  3/4" montaż na ścianie</option>

            <option value="option3">Poidło Easy Drink SSt. z zaworem 50cm 3/4" montaż na podłodze</option>
            <option value="option3">Poidło Easy Drink SSt. z zaworem 100cm 3/4" montaż na podłodze</option>
            <option value="option3">Poidło Easy Drink SSt. z zaworem 190cm 3/4" montaż na podłodze </option>
            <option value="option3">Poidło Easy Drink SSt. z zaworem 350cm 3/4" montaż na podłodze</option>
            <option value="option3">Poidło Easy Drink SSt. z zaworem 50cm 3/4" montaż na ścianie</option>
            <option value="option3">Poidło Easy Drink SSt. z zaworem 100cm 3/4" montaż na ścianie</option>
            <option value="option3">Poidło Easy Drink SSt. z zaworem 190cm 3/4" montaż na ścianie </option>
            <option value="option3">Poidło Easy Drink SSt. z zaworem 350cm 3/4" montaż na ścianie</option>

            <option value="option3">GEA standard 3/s</option>
            <option value="option3">GEA standard 3/p</option>
            <option value="option3">GEA standard 2/s</option>
            <option value="option3">GEA standard 2/p</option>
            <option value="option3">GEA standard 15/s</option>
            <option value="option3">GEA standard 15/p</option>
            <option value="option3">GEA standard 1/s</option>
            <option value="option3">GEA standard 1/p</option>
            <option value="option3">GEA standard 50</option>
            <option value="option3">GEA standard 50 CIRC 12</option>
            <option value="option3">GEA standard 50 CIRC 12 murek stołu paszowego</option>
            <option value="option3">GEA standard CIRC 3/s 34</option>
            <option value="option3">GEA standard CIRC 3/s 1</option>
            <option value="option3">GEA standard CIRC 3/p 1</option>
            <option value="option3">GEA standard CIRC 2/s 34</option>
            <option value="option3">GEA standard CIRC 2/s 1</option>
            <option value="option3">GEA standard CIRC 2/p 34</option>
            <option value="option3">GEA standard CIRC 2/p 1</option>
            <option value="option3">GEA standard CIRC 15/s 34</option>
            <option value="option3">GEA standard CIRC 15/s  1</option>
            <option value="option3">GEA standard CIRC 15/p 34</option>
            <option value="option3">GEA standard CIRC 1/s 34</option>
            <option value="option3">GEA standard CIRC 1/s  1</option>
            <option value="option3">GEA standard CIRC 1/p 34</option>
            <option value="option3">GEA standard CIRC 3/p 1</option>
            <option value="option3">GEA standard CIRC 1/p 1</option>

            <option value="option3">GEA Tip-over C 2/s 34</option>
            <option value="option3">GEA Tip-over C 2/s 1</option>
            <option value="option3">GEA Tip-over C-CIRC 2/s 34</option>
            <option value="option3">GEA Tip-over C-CIRC 2/s 1</option>
            <option value="option3">GEA Tip-over C 2/p 34</option>
            <option value="option3">GEA Tip-over C 2/p 1</option>
            <option value="option3">GEA Tip-over C-CIRC 2/p 34</option>
            <option value="option3">GEA Tip-over C-CIRC 2/p 1</option>
            <option value="option3">GEA Tip-over 1,5/s</option>
            <option value="option3">GEA Tip-over C 15/s 34</option>
            <option value="option3">GEA Tip-over C 15/s 1</option>
            <option value="option3">GEA Tip-over C-CIRC 15/s 34</option>
            <option value="option3">GEA Tip-over C-CIRC 15/s 1</option>
            <option value="option3">GEA Tip-over 1,5/p</option>
            <option value="option3">GEA Tip-over C 15/p 34</option>
            <option value="option3">GEA Tip-over C 15/p 1</option>
            <option value="option3">GEA Tip-over C-CIRC 15/p 34</option>
            <option value="option3">GEA Tip-over C-CIRC 15/p 1</option>
            <option value="option3">GEA Tip-over C 1/s 34</option>
            <option value="option3">GEA Tip-over C-CIRC 1/s 34</option>
            <option value="option3">GEA Tip-over C-CIRC 1/s 1</option>
            <option value="option3">GEA Tip-over FL 1/s 12</option>
            <option value="option3">GEA Tip-over 1/p</option>
            <option value="option3">GEA Tip-over C 1/p 34</option>
            <option value="option3">GEA Tip-over C 1/p 1</option>
            <option value="option3">GEA Tip-over C-CIRC 1/p 34</option>
            <option value="option3">GEA Tip-over C-CIRC 1/p 1</option>

            <option value="option3">Stacja podgrzewania wody SUEVIA 3033kW,230V,1/2"lub3/4" MAX.200m</option>
            <option value="option3">Stacja podgrzewania wody SUEVIA 3003kW,400V,1/2"lub3/4" MAX.200m</option>
            <option value="option3">Stacja podgrzewania wody SUEVIA 3113kW,400V,3/4"lub1" MAX.250m</option>
            <option value="option3">Stacja podgrzewania wody SUEVIA 3126kW,400V,3/4"lub1" MAX.300m</option>

        </select><br>

        <label for="numBeds">Ilość:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscPoidel}" required><br>

        <label for="type">Rodzaj uchwytu montażowego:</label><br>
        <select id="type" name="type" th:field="*{rodzajUchwytuMontazowego}">
            <option value="option1">Zestaw montażowy - 0-4cm + obejmna na słupek 2,5"</option>
            <option value="option2">Zestaw montażowy - 5-9cm + obejmna na słupek 2,5"</option>
            <option value="option3">Zestaw montażowy - 10-14cm + obejmna na słupek 2,5"</option>
            <option value="option4">Zestaw montażowy - 15-19cm + obejmna na słupek 2,5"</option>
            <option value="option5">Zestaw montażowy - 20-25cm + obejmna na słupek 2,5"</option>
        </select><br>

        <label for="numBeds">Ilość:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscUchwytuMontazowego}" required><br>

        <label for="numBeds">Ilość słupków 2,5":</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscSlupkow2_5}" required><br>

        <label for="numBeds">Ilość przejść bezpieczeństwa:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscPrzejscBezpieczenstwa}" required><br>

        <label for="numBeds">Ilość zestawów końcowych:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscZestawKoncowych}" required><br>

        <label for="numBeds">Ilość zestawów bramowych:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscZestawowBramowych}" required><br>

        <input type="submit" value="Dodaj do podsumowania">

    </form>

    <form class="hidden myform" id="bramki3ruroweForm" th:action="@{/submitBramki3rurowe}" th:object="${bramki3rurowe}" method="post">
        <h1>Bramki 3 rurowe</h1>

        <label for="type">Model bram:</label><br>
        <select id="type" name="type" th:field="*{modelBram}">
            <option value="option1">rozsuwana H32S1: L=200-300cm H=90cm</option>
            <option value="option2">rozsuwana H33S2: L=300-500cm H=90cm</option>
            <option value="option3">rozsuwana H35S2: L=500-700cm H=90cm</option>
            <option value="option4">rozsuwana H36S2: L=600-800cm H=90cm</option>
            <option value="option5">stała H31: L=80cm H=90cm</option>
            <option value="option6">stała H31: L=180cm H=90cm</option>
            <option value="option7">stała H31: L=280cm H=90cm</option>
            <option value="option8">stała H31: L=380cm H=90cm</option>
            <option value="option9">stała H31: L=480cm H=90cm</option>
            <option value="option10">stała H31: L=580cm H=90cm</option>
        </select><br>

        <label for="numBeds">Ilość bram:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscBram}" required><br>

        <label for="type">Rodzaj słupków:</label><br>
        <select id="type" name="type" th:field="*{rodzajSlupkow}">
            <option value="option1">Słupek w beton z tuleją i kapą 2.5" (76x3.7mm) L=185cm Hgalv</option>
            <option value="option2">Słupek na posadzkę z podst. 2.5" (76x3.7mm) L=160cm</option>
            <option value="option3">Słupek na posadzkę z podst. 2.5" (76x3.7mm) L=225cm</option>
            <option value="option4">Słupek na posadzkę z podst. 3" (89x4.1mm) L=225cm</option>
            <option value="option5">Słupek na posadzkę rusztową z podst. 2.5" (76x3.7mm) L=160cm</option>
            <option value="option6">Słupek na posadzkę rusztową z podst. 2.5" (76x3.7mm) L=225cm</option>
            <option value="option7">Słupek na posadzkę rusztową z podst. 3" (89x4.1mm) L=225cm</option>
        </select><br>

        <label for="numBeds">Ilość słupków:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscSlupkow}" required><br>

        <label for="type">Rodzaj zamka:</label><br>
        <select id="type" name="type" th:field="*{rodzajZamka}">
            <option value="option1">Zamknięcie do bramek - 2 otwory</option>
            <option value="option2">Zamknięcie do bramek - 4 otwory</option>
        </select><br>

        <label for="numBeds">Ilość punktów zamknięcia:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscPunktowZamkniecia}" required><br>

        <label for="numBeds">Ilość punktów zamknięcia na stole pasz:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscPunktowZamknieciaNaStolePasz}" required><br>

        <label for="numBeds">Ilość zaczepów ściennych (haczyk):</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscZaczepowSciennychHaczyk}" required><br>

        <label for="numBeds">Ilość zestawów łączących drop-over:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscZestawowLaczacychDropOver}" required><br>

        <label for="numBeds">Ilość kół wsporczych do bram:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscKolWsporczychDoBram}" required><br>

        <label for="numBeds">Ilość odciągów linowych:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscOdciagowLiniowych}" required><br>

        <input type="submit" value="Dodaj do podsumowania">
    </form>
    <form class="hidden myform" id="bramki2ruroweForm" th:action="@{/submitBramki2rurowe}" th:object="${bramki2rurowe}" method="post">
        <h1>Bramki 2 rurowe</h1>

        <label for="type">Model bram:</label><br>
        <select id="type" name="type" th:field="*{modelBram}">
            <option value="option1">rozsuwana H22S1: L=200-300cm H=60cm</option>
            <option value="option2">rozsuwana H23S2: L=300-450cm H=60cm</option>
            <option value="option3">rozsuwana H24S2: L=400-550cm H=60cm</option>
            <option value="option4">rozsuwana H25S2: L=550-650cm H=60cm</option>
            <option value="option5">stała H21: L=80cm H=60cm</option>
            <option value="option6">stała H22: L=180cm H=60cm</option>
            <option value="option7">stała H23: L=280cm H=60cm</option>
            <option value="option8">stała H24: L=380cm H=60cm</option>
            <option value="option9">stała H25: L=480cm H=60cm</option>
        </select><br>

        <label for="numBeds">Ilość bram:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscBram}" required><br>

        <label for="type">Rodzaj słupków:</label><br>
        <select id="type" name="type" th:field="*{rodzajSlupkow}">
            <option value="option1">Słupek w beton z tuleją i kapą 2.5" (76x3.7mm) L=185cm Hgalv</option>
            <option value="option2">Słupek na posadzkę z podst. 2.5" (76x3.7mm) L=160cm</option>
            <option value="option3">Słupek na posadzkę z podst. 2.5" (76x3.7mm) L=225cm</option>
            <option value="option4">Słupek na posadzkę z podst. 3" (89x4.1mm) L=225cm</option>
            <option value="option5">Słupek na posadzkę rusztową z podst. 2.5" (76x3.7mm) L=160cm</option>
            <option value="option6">Słupek na posadzkę rusztową z podst. 2.5" (76x3.7mm) L=225cm</option>
            <option value="option7">Słupek na posadzkę rusztową z podst. 3" (89x4.1mm) L=225cm</option>
        </select><br>

        <label for="numBeds">Ilość słupków:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscSlupkow}" required><br>

        <label for="type">Rodzaj zamka:</label><br>
        <select id="type" name="type" th:field="*{rodzajZamka}">
            <option value="option1">Zamknięcie do bramek - 2 otwory</option>
            <option value="option2">Zamknięcie do bramek - 4 otwory</option>
        </select><br>

        <label for="numBeds">Ilość punktów zamknięcia:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscPunktowZamkniecia}" required><br>

        <label for="numBeds">Ilość punktów zamknięcia na stole pasz:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscPunktowZamknieciaNaStolePasz}" required><br>

        <label for="numBeds">Ilość zaczepów ściennych (haczyk):</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscZaczepowSciennychHaczyk}" required><br>

        <label for="numBeds">Ilość zestawów łączących drop-over:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscZestawowLaczacychDropOver}" required><br>

        <label for="numBeds">Ilość kół wsporczych do bram:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscKolWsporczychDoBram}" required><br>

        <label for="numBeds">Ilość odciągów linowych:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscOdciagowLiniowych}" required><br>

        <input type="submit" value="Dodaj do podsumowania">

    </form>
    <form class="hidden myform" id="bramkiOneWayForm" th:action="@{/submitBramkiOneWay}" th:object="${bramkiOneWay}" method="post">
        <h1>Bramki one way</h1>

        <label for="type">Montaż bramki grzebieniowej:</label><br>
        <select id="type" name="type" th:field="*{montażBramkiGrzebieniowej}">
            <option value="option1">Słupek na posadzkę z podst. 2,5" (76x3,7mm) 160cm</option>
            <option value="option2">Słupek na posadzkę z podst. 2,5" (76x3,7mm) 225cm</option>
            <option value="option3">Słupek na posadzkę rusztową z podst. 2,5" (76x3,7mm) 225cm</option>
            <option value="option4">Słupek na posadzkę rusztową z podst. 3" (89x4,1mm) 225cm</option>
            <option value="option5">Mocowanie do ściany</option>
        </select><br>

        <label for="type">Szerokość przejścia:</label><br>
        <select id="type" name="type" th:field="*{szerokoscPrzejscia}">
            <option value="option1">przejście: 100 - 130 cm</option>
            <option value="option2">przejście: 230 - 255 cm</option>
            <option value="option3">przejście: 355 - 378 cm</option>
            <option value="option4">przejście: 478 - 505 cm</option>
            <option value="option5">przejście: 605 - 630 cm</option>
            <option value="option6">przejście: 655 - 678 cm</option>
        </select><br>

        <label for="numBeds">Ilość bram:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscBram}" required><br>

        <label for="numBeds">Ilość elementów stałych "U":</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscElementowStalychU}" required><br>

        <label for="numBeds">Ilość bramek One Way 110cm (na ścianę):</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscBramekOneWay110NaSciane}" required><br>

        <label for="numBeds">Ilość rozsuwanych bramek OW 90-155cm:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscRozsuwanychBramekOW90_155}" required><br>

        <input type="submit" value="Dodaj do podsumowania">
    </form>
    <form class="hidden myform" id="wygrodzeniaRuroweStaleForm" th:action="@{/submitWygrodzeniaRuroweStale}" th:object="${wygrodzeniaRuroweStale}" method="post">
        <h1>Wygrodzenia rurowe - stałe</h1>

        <label for="numBeds">Ilość MB wygrodzenia stałego:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscMBwygrodzeniaStalego}" required><br>

        <label for="numBeds">Ilość rur:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscRur}" required><br>

        <label for="type">Rodzaj słupków:</label><br>
        <select id="type" name="type" th:field="*{rodzajSlupkow}">
            <option value="option1">Słupek w beton z tuleją i kapą 2.5" (76x3.7mm) L=185cm Hgalv.</option>
            <option value="option2">Słupek na posadzkę z podst. 2,5" (76x3,7mm) 160cm</option>
            <option value="option3">Słupek na posadzkę z podst. 2,5" (76x3,7mm) 225cm</option>
            <option value="option4">Słupek na posadzkę z podst. 3" (89x4,1mm) 225cm</option>
            <option value="option5">Słupek na posadzkę rusztową z podst. 2,5" (76x3,7mm) 160cm</option>
            <option value="option6">Słupek na posadzkę rusztową z podst. 2,5" (76x3,7mm) 225cm</option>
            <option value="option7">Słupek na posadzkę rusztową z podst. 3" (89x4,1mm) 225cm</option>
        </select><br>

        <label for="numBeds">Ilość słupków:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscSlupkow}" required><br>

        <label for="numBeds">Ilość słupków narożnych:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscSlupkowNaroznych}" required><br>

        <label for="numBeds">Ilość słupków środkowych:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscSlupkowSrodkowych}" required><br>

        <label for="numBeds">Ilość słupków skrajnych:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscSlupkowSkrajnych}" required><br>

        <label for="numBeds">Ilość zakończeń do muru:</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscZakonczenDoMuru}" required><br>

        <label for="numBeds">Ilość łączników rury 2":</label><br>
        <input type="number" id="numBeds" name="numBeds" th:field="*{iloscLacznikowRury2cale}" required><br>

        <input type="submit" value="Dodaj do podsumowania">
    </form>

</div>


<script src="js\konfigurator.js"></script>
<script src="js\konfigurator2.js"></script>
</body>
<footer>
    <button onclick="location.href='#'" >Specyfikacja</button>
</footer>

</html>
